/** Primary**/
/** - Mobile: 375px**/
/** - Desktop: 1440px**/

/** Primary Colors**/

$primary: #F5A524;
$secondary: #205C8D;
$light-gray: #ebebeb;
$primary-100:#FF5722;
$primary-200:#ff8a50;
$primary-300:#fff3b0;
$accent-100:#4CAF50;
$accent-200:#005100;
$text-100:#333333;
$text-200:#5c5c5c;
$bg-100:#F5F5F5;
$bg-200:#ebebeb;
$bg-300:#c2c2c2;

/** Neutral Colors**/

$dark-primary: #2b3d4f;
$dark-gray: #3D3D3D;
$white: #fff;
$black: #000;

/** Fonts **/

$font-principal: "Raleway", sans-serif;
$font-headings: "Staatliches", cursive;

$font-weight-1: 900;
$font-weight-2: 700;
$font-weight-3: 400;

/** Breakpoint Sass Variables**/
$breakpoint-mobile: 37.5em;
$breakpoint-tablet: 48em;
$breakpoint-desktop: 90em;
$breakpoint-desktop-medium: 105em;
$breakpoint-desktop-large: 120em;
$breakpoint-desktop-xlarge: 160em;
